<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="BotName" value="OasobiDiscordBot" />
        <add key="BotVersion" value="0.0.1" />
        <add key="BotLanguage" value="English" />

        <add key="DiscordToken" value="SET_TOKEN" />
        <add key="GuildId" value="SET_GUILD_IDS_SEPARATED_BY_COMMAS" />
        <add key="YouTubeApiKey" value="SET_YOUTUBE_API_KEY" />
    </appSettings>
</configuration>